@use 'scss-reset/reset';
@use 'variables/variables';

body {
    font-family: "Inter", 'Arial', sans-serif;
    font-weight: 400;
    background-color: #F3F7F8;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
}