@use '../../../styles/variables/variables.scss' as *;

.wrapper__input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: 0.2s ease;
    width: 275px;

    @media (max-width:$tablet) {
        width: 100%;
    }

    &:hover {
        .input {
            box-shadow: rgba(53, 165, 0, 0.7) 0px 0px 3px 1px;
        }
    }

    .input:focus {
        box-shadow: none;
    }
}

.input__label {
    font-weight: 600;
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 8px;
}

.required {
    color: $red;
}

.input {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid $border;
    border-radius: 16px;
    padding: 12px 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.36px;
    color: $text-black;
    margin-bottom: 4px;

    &::placeholder {
        color: $text-gray;
    }

    &:focus {
        border: 1px solid $blue;
        outline: 2px solid $blue;
        outline-offset: -2px;
    }

    &__date {
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        background: url('../../../assets/icons/calendar.jpg') no-repeat right 20px center;

        &::-webkit-calendar-picker-indicator {
            display: none;
        }
    }

    &__error {
        border: 1px solid $red !important;
    }

}

.error {
    position: absolute;
    bottom: -14px;
    left: 0;
    color: $red;
    font-size: 12px;
    line-height: 14.52px;
}