// colors

$blue: #4C73E3;
$light-blue: #88A7FF;
$light-green: #F0FFE9;
$red: #BF0003;
$light-gray: #F1F4FC;
$border: #DEE4F0;

$text-black: #4F4F55;
$text-gray: #DCDCDC;
$text-white: #FFFFFF;

// media

$desktop: 1140px;
$tablet: 1024px;
$mobile: 768px;