@use '../../../styles/variables/variables.scss' as *;

.label {
    margin-bottom: 16px;
}

.required {
    color: $red;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    flex-direction: row !important;
    gap: 20px !important;
}